<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List</title>
</head>
<body>
    {% for movie in movie_list %}
    <div>
        <ul>
            <li><strong>Title:</strong> {{ movie.title }}</li>
            <li><strong>Description:</strong> {{ movie.description }}</li>
            <li><strong>Year:</strong> {{ movie.year }}</li>
            <li><strong>Country:</strong> {{ movie.country }}</li>
        </ul>
    </div>
    <hr>
    {% endfor %}
</body>
</html>
